.wrapper{
    padding: 20px;
}

.wrapper-title,h3{
    margin-bottom: 20px;
}

/* overwrite popup style */
#add-media-popup .ExGby{
    width: 100%;
    max-width: 1200px;
}

#add-media-popup .TImJU{
    flex: 1;
}


.add-media-container{
    width: 100%;
    height: 100%;
    position: relative;
}

/* progress-bar */
.progress-bar-container{
    position: absolute;
    width: calc(100% + 40px);
    left: -20px;
    top: -20px;
    height: 4px;
    background-color: #f5f5f5;
}

.progress-bar {
    width: 0%;
    height: 100%;
    background-color: #fb5ba2;
    transition: all .1s linear;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -ms-transition: all .1s linear;
    -o-transition: all .1s linear;
}


/* steps */
.steps{
    height: 100%;
}

.step-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.step-container:not(.step-container-1) {
    display: none;
}

.step-feature-container::-webkit-scrollbar{
    display: none;
}

.step-nav-btn-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    margin-top: auto;
}


/* step 1 */
.selection-container{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

label.selection-radio {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}

label.selection-radio input {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    pointer-events: none;
}

label.selection-radio .selection-text-container {
    width: 100%;
    min-height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8px 48px 8px 16px;
    border: 2px solid rgb(225, 228, 230);
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}

label.selection-radio input:checked + .selection-text-container {
    border-color: #3069fe;
}

.selection-title{
    font-size: 18px;
    margin-bottom: 0;
}

.selection-desc{
    margin-bottom: 0;
}

label.selection-radio .radio-placeholder{
    position: absolute;
    right: 16px;
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(225, 228, 230);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

label.selection-radio .radio-placeholder::after{
    position: absolute;
    content: '';
    width: 16px;
    height: 16px;
    border: 5px solid transparent;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

#media-type-container label.selection-radio .radio-placeholder::after{
    display: none;
}

label.selection-radio input:checked ~ span.radio-placeholder{
    border: 1px solid transparent;
}

label.selection-radio input:checked ~ span.radio-placeholder::after{
    border: 5px solid #3069fe;
}

.full-width-pink-btn{
    width: 100%;
}


/* step 2 */
.media-type-container{
    margin-bottom: 40px;
}

label.selection-radio .media-type__text-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
}

.media-type__text-container .icon-container{
    width: 24px;
    height: 24px;
}

.upload-container {
    border: 2px dashed #aaa;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.media-type-reset-btn.UJQCM{
    width: max-content;
    margin-left: auto;
    display: none;
}

.option-selected label{
    display: none;
}

.option-selected label.selected{
    display: flex;
}


/* step 3 */
.thumbnail-container {
    border: 2px dashed #aaa;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.media-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-gap: 5px;
    margin-bottom: 15px;
    max-height: 210px;
    overflow-y: auto;
}

.image-div {
    position: relative;
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    transition: border-color 0.3s ease-in-out;
    border: 2px solid transparent;
    padding-bottom: 20px;
    box-sizing: border-box;
    opacity: 1;
}


/* loader */
#loader {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    display: none;
}

#loader-number {
    position: absolute;
    color: black;
    font-size: 25px;
    line-height: 40px;
    display: inline-block;
    z-index: 1;
}

#loader svg {
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: 200px;
    transform: rotateY(-180deg) rotateZ(-90deg);
}


@keyframes loader {
    from {
        stroke-dashoffset: 113px;
    }
    to {
        stroke-dashoffset: 0px;
    }
}

